.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-left: 1px solid rgb(228, 228, 228);
  border-right: 1px solid rgb(228, 228, 228);
  background: #fff;
}

.header-icons {
  display: flex;
  gap: 15%;
  font-size: 36px;
  color: grey;
}
