body {
    margin: 0;
    padding: 0;
}
.App {
    width: 100%;
    display: flex;
    flex-direction:row;
    margin: 0;
    padding: 0;
}

.contactsApp {
    width: 30%;
}

.massageFieldsApp {
    position: relative;
    width: 70%;
    
}

